<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/login_register.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather+Sans&display=swap"
        rel="stylesheet">
</head>

<body>

    <div class="container text-white">
        <div class="row my-0 mt-5">
            <div class="col-md-4">
                <h1 class="name">Share Fest</h1>
            </div>
            <div class="col-md-2">
                <img id="top" src="/images/foodpantry1.png" alt="">
            </div>
            <div class="col-md-2">
                <img id="top" src="/images/foodpantry2.png" alt="">
            </div>
            <div class="col-md-2">
                <img id="top" src="/images/foodpantry3.png" alt="">
            </div>
        </div>
    </div>

    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark rounded-pill">
                <div class="container-fluid">
                    <a class="navbar-brand" href="../home">Home</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    ShareFest Store
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="pantry_store_registration">Register To ShareFest Store</a></li>
                                    <li><a class="dropdown-item" href="pantry_store_login">Login To ShareFest Store</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Member
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="../members/member_registration">Register To Member</a></li>
                                    <li><a class="dropdown-item" href="../members/member_login">Login as a Member</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Calendar</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Contact Us
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="https://www.sharefestwillcounty.org/sharefest-in-the-news">Sharefest News</a></li>
                                    <li><a class="dropdown-item" href="#">Contact</a></li>
                                    <li><a class="dropdown-item" href="https://www.sharefestwillcounty.org/past-impacts">Past Impacts</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Donate/Sponsor
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="https://www.sharefestwillcounty.org/partners">Partners</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="row my-5">
                <div class="text-center mt-5">
                    <h2>ShareFest Store Registration</h2>
                    <p class="lead">Register for an actual online storefront experience!</p>
                </div>
                
		        <div class="form" style="display: flex;">
					<div th:if="${param.success}">
						<div class="alert alert-info"> You've successfully registered
								to our awesome app!
						</div>
					</div>
				</div> 
		
                <div class="row justify-content-center my-5">
                    <div class="col-lg-6">
                        <form th:action="@{/stores/pantry_store_registration}"
						 th:object="${store}" method="POST">
                            <div class="row my-2">
                                <div class="col-md-6">
                                    <div class="form-floating my-2">
                                        <input type="text" id="name" th:field="*{firstName}" placeholder="e.g. David" class="form-control" required/>
                                        <label for="name" class="form-label">First Name:</label>
                                    </div>
                                </div>
        
                                <div class="col-md-6">
                                    <div class="form-floating my-2">
                                        <input type="text" id="name" th:field="*{lastName}" placeholder="e.g. David" class="form-control" required/>
                                        <label for="name" class="form-label">Last Name:</label>
                                    </div>
                                </div>
                            </div>
        
                            <div class="row my-2">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="date" id="name" th:field="*{dob}" class="form-control" required/>
                                        <label for="name" class="form-label">Enter your Date Of Birth:</label>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <select name="subject" id="ethnicity" th:field="*{gender}" class="form-select" required>
                                        <option value="" selected>Gender</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="gender queer">Gender Queer</option>
                                        <option value="non-binary">Non-Binary</option>
                                        <option value="transgender">Transgender</option>
                                        <option value="prefer-not-to-say">Prefer not to say</option>
                                    </select>
                                </div>
                            </div>
        
                            <div class="row my-2">
                                <div class="col-md-6">
                                    <select name="subject" id="ethnicity" th:field="*{ethnicity}" class="form-select mt-2" required>
                                        <option value="" selected>Select Ethnicity</option>
                                        <option value="black">Black</option>
                                        <option value="hispanic">Hispanic</option>
                                        <option value="white">White</option>
                                        <option value="asian">Asian</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <select name="subject" id="ethnicity" th:field="*{size}" class="form-select mt-2" required>
                                        <option value="" selected>What Size Are You?</option>
                                        <option value="small">Small</option>
                                        <option value="medium">Medium</option>
                                        <option value="large">Large</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-floating my-3">
                                <input type="email" id="name" th:field="*{email}" placeholder="e.g. David" class="form-control" required/>
                                <label for="name" class="form-label">Email:</label>
                            </div>

                            <div class="form-floating my-3">
                                <input type="password" id="name" th:field="*{password}" placeholder="e.g. David" class="form-control" required/>
                                <label for="name" class="form-label">Password:</label>
                            </div>
                            
                            <div class="form-floating my-3">
                                <input type="password" id="name" placeholder="e.g. David" class="form-control" required/>
                                <label for="name" class="form-label">Confirm Password:</label>
                            </div>
        
                            <div class="form-floating my-3">
                                <input type="text" id="name" th:field="*{address1}" placeholder="e.g. David" class="form-control" required/>
                                <label for="name" class="form-label">Address 1:</label>
                            </div>
        
                            <div class="form-floating my-3">
                                <input type="text" id="name" th:field="*{address2}" placeholder="e.g. David" class="form-control" required/>
                                <label for="name" class="form-label">Address 2 (Optional):</label>
                            </div>
        
                            <div class="form-floating my-3">
                                <input type="text" id="name" th:field="*{city}" placeholder="e.g. David" class="form-control" required/>
                                <label for="name" class="form-label">City:</label>
                            </div>
        
                            <div class="row my-3">
                                <div class="col-md-6">
                                    <select name="subject" id="subject" th:field="*{state}" class="form-select" required>
                                        <option value="" selected>Select State/Province</option>
                                        <option value="not-applicable">Not Applicable</option>
                                        <option value="alberta">Alberta</option>
                                        <option value="british columbia">British Columbia</option>
                                        <option value="manitoba">Manitoba</option>
                                        <option value="new brunswick">New Brunswick</option>
                                        <option value="newfoundland-labrador">Newfoundland-Labrador</option>
                                        <option value="nunavut">Nunavut</option>
                                        <option value="nova scotia">Nova Scotia</option>
                                        <option value="norhtwest territories">Northwest Territories</option>
                                        <option value="prince edward island">Prince Edward Island</option>
                                        <option value="quebec">Quebec</option>
                                        <option value="saskatchewan">Saskatchewan</option>
                                        <option value="yukon">Yukon</option>
                                        <option value="ontario">Ontario</option>
                                        <option value="alaska">Alaska</option>
                                        <option value="alabama">Alabama</option>
                                        <option value="arkansas">Arkansas</option>
                                        <option value="arizona">Arizona</option>
                                        <option value="california">California</option>
                                        <option value="colorado">Colorado</option>
                                        <option value="connecticut">Connecticut</option>
                                        <option value="washington d.c">Washington D.C</option>
                                        <option value="delaware">Delaware</option>
                                        <option value="florida">Florida</option>
                                        <option value="georgia">Georgia</option>
                                        <option value="hawaii">Hawaii</option>
                                        <option value="iowa">Iowa</option>
                                        <option value="idhao">Idaho</option>
                                        <option value="illinois">Illinois</option>
                                        <option value="indiana">Indiana</option>
                                        <option value="kansas">Kansas</option>
                                        <option value="kentucky">Kentucky</option>
                                        <option value="louisiana">Louisiana</option>
                                        <option value="massachusetts">Massachusetts</option>
                                        <option value="maryland">Maryland</option>
                                        <option value="maine">Maine</option>
                                        <option value="michigan">Michigan</option>
                                        <option value="minnesota">Minnesota</option>
                                        <option value="missouri">Missouri</option>
                                        <option value="mississippi">Mississippi</option>
                                        <option value="montana">Montana</option>
                                        <option value="north carolina">North Carolina</option>
                                        <option value="north dakota">North Dakota</option>
                                        <option value="nebraska">Nebraska</option>
                                        <option value="new hampshire">New Hampshire</option>
                                        <option value="new jersey">New Jersey</option>
                                        <option value="new mexico">New Mexico</option>
                                        <option value="nevada">Nevada</option>
                                        <option value="new york">New York</option>
                                        <option value="ohio">Ohio</option>
                                        <option value="oklahoma">Oklahoma</option>
                                        <option value="oregon">Oregon</option>
                                        <option value="pennsylvania">Pennsylvania</option>
                                        <option value="puerto rico">Puerto Rico</option>
                                        <option value="rhode island">Rhode Island</option>
                                        <option value="south carolina">South Carolina</option>
                                        <option value="south dakota">South Dakota</option>
                                        <option value="tennessee">Tennessee</option>
                                        <option value="texas">Texas</option>
                                        <option value="utah">Utah</option>
                                        <option value="virginia">Virginia</option>
                                        <option value="vermont">Vermont</option>
                                        <option value="washington">Washington</option>
                                        <option value="wisconsin">Wisconsin</option>
                                        <option value="west virginia">West Virginia</option>
                                        <option value="wyoming">Wyoming</option>
                                    </select>
                                </div>
        
                                <div class="col-md-6">
                                    <div class="form-floating my-0">
                                        <input type="number" id="name" th:field="*{zip}" placeholder="e.g. David" class="form-control" required/>
                                        <label for="name" class="form-label">Zip Code:</label>
                                    </div>
                                </div>
                            </div>
        
                            <select name="country" id="country" th:field="*{country}" class="form-select" required>
                                <option value="" selected>Select Country</option>
                                <option value="Afganistan">Afghanistan</option>
                                <option value="Albania">Albania</option>
                                <option value="Algeria">Algeria</option>
                                <option value="American Samoa">American Samoa</option>
                                <option value="Andorra">Andorra</option>
                                <option value="Angola">Angola</option>
                                <option value="Anguilla">Anguilla</option>
                                <option value="Antigua & Barbuda">Antigua & Barbuda</option>
                                <option value="Argentina">Argentina</option>
                                <option value="Armenia">Armenia</option>
                                <option value="Aruba">Aruba</option>
                                <option value="Australia">Australia</option>
                                <option value="Austria">Austria</option>
                                <option value="Azerbaijan">Azerbaijan</option>
                                <option value="Bahamas">Bahamas</option>
                                <option value="Bahrain">Bahrain</option>
                                <option value="Bangladesh">Bangladesh</option>
                                <option value="Barbados">Barbados</option>
                                <option value="Belarus">Belarus</option>
                                <option value="Belgium">Belgium</option>
                                <option value="Belize">Belize</option>
                                <option value="Benin">Benin</option>
                                <option value="Bermuda">Bermuda</option>
                                <option value="Bhutan">Bhutan</option>
                                <option value="Bolivia">Bolivia</option>
                                <option value="Bonaire">Bonaire</option>
                                <option value="Bosnia & Herzegovina">Bosnia & Herzegovina</option>
                                <option value="Botswana">Botswana</option>
                                <option value="Brazil">Brazil</option>
                                <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
                                <option value="Brunei">Brunei</option>
                                <option value="Bulgaria">Bulgaria</option>
                                <option value="Burkina Faso">Burkina Faso</option>
                                <option value="Burundi">Burundi</option>
                                <option value="Cambodia">Cambodia</option>
                                <option value="Cameroon">Cameroon</option>
                                <option value="Canada">Canada</option>
                                <option value="Canary Islands">Canary Islands</option>
                                <option value="Cape Verde">Cape Verde</option>
                                <option value="Cayman Islands">Cayman Islands</option>
                                <option value="Central African Republic">Central African Republic</option>
                                <option value="Chad">Chad</option>
                                <option value="Channel Islands">Channel Islands</option>
                                <option value="Chile">Chile</option>
                                <option value="China">China</option>
                                <option value="Christmas Island">Christmas Island</option>
                                <option value="Cocos Island">Cocos Island</option>
                                <option value="Colombia">Colombia</option>
                                <option value="Comoros">Comoros</option>
                                <option value="Congo">Congo</option>
                                <option value="Cook Islands">Cook Islands</option>
                                <option value="Costa Rica">Costa Rica</option>
                                <option value="Cote DIvoire">Cote DIvoire</option>
                                <option value="Croatia">Croatia</option>
                                <option value="Cuba">Cuba</option>
                                <option value="Curaco">Curacao</option>
                                <option value="Cyprus">Cyprus</option>
                                <option value="Czech Republic">Czech Republic</option>
                                <option value="Denmark">Denmark</option>
                                <option value="Djibouti">Djibouti</option>
                                <option value="Dominica">Dominica</option>
                                <option value="Dominican Republic">Dominican Republic</option>
                                <option value="East Timor">East Timor</option>
                                <option value="Ecuador">Ecuador</option>
                                <option value="Egypt">Egypt</option>
                                <option value="El Salvador">El Salvador</option>
                                <option value="Equatorial Guinea">Equatorial Guinea</option>
                                <option value="Eritrea">Eritrea</option>
                                <option value="Estonia">Estonia</option>
                                <option value="Ethiopia">Ethiopia</option>
                                <option value="Falkland Islands">Falkland Islands</option>
                                <option value="Faroe Islands">Faroe Islands</option>
                                <option value="Fiji">Fiji</option>
                                <option value="Finland">Finland</option>
                                <option value="France">France</option>
                                <option value="French Guiana">French Guiana</option>
                                <option value="French Polynesia">French Polynesia</option>
                                <option value="French Southern Ter">French Southern Ter</option>
                                <option value="Gabon">Gabon</option>
                                <option value="Gambia">Gambia</option>
                                <option value="Georgia">Georgia</option>
                                <option value="Germany">Germany</option>
                                <option value="Ghana">Ghana</option>
                                <option value="Gibraltar">Gibraltar</option>
                                <option value="Great Britain">Great Britain</option>
                                <option value="Greece">Greece</option>
                                <option value="Greenland">Greenland</option>
                                <option value="Grenada">Grenada</option>
                                <option value="Guadeloupe">Guadeloupe</option>
                                <option value="Guam">Guam</option>
                                <option value="Guatemala">Guatemala</option>
                                <option value="Guinea">Guinea</option>
                                <option value="Guyana">Guyana</option>
                                <option value="Haiti">Haiti</option>
                                <option value="Hawaii">Hawaii</option>
                                <option value="Honduras">Honduras</option>
                                <option value="Hong Kong">Hong Kong</option>
                                <option value="Hungary">Hungary</option>
                                <option value="Iceland">Iceland</option>
                                <option value="Indonesia">Indonesia</option>
                                <option value="India">India</option>
                                <option value="Iran">Iran</option>
                                <option value="Iraq">Iraq</option>
                                <option value="Ireland">Ireland</option>
                                <option value="Isle of Man">Isle of Man</option>
                                <option value="Israel">Israel</option>
                                <option value="Italy">Italy</option>
                                <option value="Jamaica">Jamaica</option>
                                <option value="Japan">Japan</option>
                                <option value="Jordan">Jordan</option>
                                <option value="Kazakhstan">Kazakhstan</option>
                                <option value="Kenya">Kenya</option>
                                <option value="Kiribati">Kiribati</option>
                                <option value="Korea North">Korea North</option>
                                <option value="Korea Sout">Korea South</option>
                                <option value="Kuwait">Kuwait</option>
                                <option value="Kyrgyzstan">Kyrgyzstan</option>
                                <option value="Laos">Laos</option>
                                <option value="Latvia">Latvia</option>
                                <option value="Lebanon">Lebanon</option>
                                <option value="Lesotho">Lesotho</option>
                                <option value="Liberia">Liberia</option>
                                <option value="Libya">Libya</option>
                                <option value="Liechtenstein">Liechtenstein</option>
                                <option value="Lithuania">Lithuania</option>
                                <option value="Luxembourg">Luxembourg</option>
                                <option value="Macau">Macau</option>
                                <option value="Macedonia">Macedonia</option>
                                <option value="Madagascar">Madagascar</option>
                                <option value="Malaysia">Malaysia</option>
                                <option value="Malawi">Malawi</option>
                                <option value="Maldives">Maldives</option>
                                <option value="Mali">Mali</option>
                                <option value="Malta">Malta</option>
                                <option value="Marshall Islands">Marshall Islands</option>
                                <option value="Martinique">Martinique</option>
                                <option value="Mauritania">Mauritania</option>
                                <option value="Mauritius">Mauritius</option>
                                <option value="Mayotte">Mayotte</option>
                                <option value="Mexico">Mexico</option>
                                <option value="Midway Islands">Midway Islands</option>
                                <option value="Moldova">Moldova</option>
                                <option value="Monaco">Monaco</option>
                                <option value="Mongolia">Mongolia</option>
                                <option value="Montserrat">Montserrat</option>
                                <option value="Morocco">Morocco</option>
                                <option value="Mozambique">Mozambique</option>
                                <option value="Myanmar">Myanmar</option>
                                <option value="Nambia">Nambia</option>
                                <option value="Nauru">Nauru</option>
                                <option value="Nepal">Nepal</option>
                                <option value="Netherland Antilles">Netherland Antilles</option>
                                <option value="Netherlands">Netherlands (Holland, Europe)</option>
                                <option value="Nevis">Nevis</option>
                                <option value="New Caledonia">New Caledonia</option>
                                <option value="New Zealand">New Zealand</option>
                                <option value="Nicaragua">Nicaragua</option>
                                <option value="Niger">Niger</option>
                                <option value="Nigeria">Nigeria</option>
                                <option value="Niue">Niue</option>
                                <option value="Norfolk Island">Norfolk Island</option>
                                <option value="Norway">Norway</option>
                                <option value="Oman">Oman</option>
                                <option value="Pakistan">Pakistan</option>
                                <option value="Palau Island">Palau Island</option>
                                <option value="Palestine">Palestine</option>
                                <option value="Panama">Panama</option>
                                <option value="Papua New Guinea">Papua New Guinea</option>
                                <option value="Paraguay">Paraguay</option>
                                <option value="Peru">Peru</option>
                                <option value="Phillipines">Philippines</option>
                                <option value="Pitcairn Island">Pitcairn Island</option>
                                <option value="Poland">Poland</option>
                                <option value="Portugal">Portugal</option>
                                <option value="Puerto Rico">Puerto Rico</option>
                                <option value="Qatar">Qatar</option>
                                <option value="Republic of Montenegro">Republic of Montenegro</option>
                                <option value="Republic of Serbia">Republic of Serbia</option>
                                <option value="Reunion">Reunion</option>
                                <option value="Romania">Romania</option>
                                <option value="Russia">Russia</option>
                                <option value="Rwanda">Rwanda</option>
                                <option value="St Barthelemy">St Barthelemy</option>
                                <option value="St Eustatius">St Eustatius</option>
                                <option value="St Helena">St Helena</option>
                                <option value="St Kitts-Nevis">St Kitts-Nevis</option>
                                <option value="St Lucia">St Lucia</option>
                                <option value="St Maarten">St Maarten</option>
                                <option value="St Pierre & Miquelon">St Pierre & Miquelon</option>
                                <option value="St Vincent & Grenadines">St Vincent & Grenadines</option>
                                <option value="Saipan">Saipan</option>
                                <option value="Samoa">Samoa</option>
                                <option value="Samoa American">Samoa American</option>
                                <option value="San Marino">San Marino</option>
                                <option value="Sao Tome & Principe">Sao Tome & Principe</option>
                                <option value="Saudi Arabia">Saudi Arabia</option>
                                <option value="Senegal">Senegal</option>
                                <option value="Seychelles">Seychelles</option>
                                <option value="Sierra Leone">Sierra Leone</option>
                                <option value="Singapore">Singapore</option>
                                <option value="Slovakia">Slovakia</option>
                                <option value="Slovenia">Slovenia</option>
                                <option value="Solomon Islands">Solomon Islands</option>
                                <option value="Somalia">Somalia</option>
                                <option value="South Africa">South Africa</option>
                                <option value="Spain">Spain</option>
                                <option value="Sri Lanka">Sri Lanka</option>
                                <option value="Sudan">Sudan</option>
                                <option value="Suriname">Suriname</option>
                                <option value="Swaziland">Swaziland</option>
                                <option value="Sweden">Sweden</option>
                                <option value="Switzerland">Switzerland</option>
                                <option value="Syria">Syria</option>
                                <option value="Tahiti">Tahiti</option>
                                <option value="Taiwan">Taiwan</option>
                                <option value="Tajikistan">Tajikistan</option>
                                <option value="Tanzania">Tanzania</option>
                                <option value="Thailand">Thailand</option>
                                <option value="Togo">Togo</option>
                                <option value="Tokelau">Tokelau</option>
                                <option value="Tonga">Tonga</option>
                                <option value="Trinidad & Tobago">Trinidad & Tobago</option>
                                <option value="Tunisia">Tunisia</option>
                                <option value="Turkey">Turkey</option>
                                <option value="Turkmenistan">Turkmenistan</option>
                                <option value="Turks & Caicos Is">Turks & Caicos Is</option>
                                <option value="Tuvalu">Tuvalu</option>
                                <option value="Uganda">Uganda</option>
                                <option value="United Kingdom">United Kingdom</option>
                                <option value="Ukraine">Ukraine</option>
                                <option value="United Arab Erimates">United Arab Emirates</option>
                                <option value="United States of America">United States of America</option>
                                <option value="Uraguay">Uruguay</option>
                                <option value="Uzbekistan">Uzbekistan</option>
                                <option value="Vanuatu">Vanuatu</option>
                                <option value="Vatican City State">Vatican City State</option>
                                <option value="Venezuela">Venezuela</option>
                                <option value="Vietnam">Vietnam</option>
                                <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
                                <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
                                <option value="Wake Island">Wake Island</option>
                                <option value="Wallis & Futana Is">Wallis & Futana Is</option>
                                <option value="Yemen">Yemen</option>
                                <option value="Zaire">Zaire</option>
                                <option value="Zambia">Zambia</option>
                                <option value="Zimbabwe">Zimbabwe</option>
                            </select>
        
                            <div class="row my-3">
                                <div class="col-md-6">
                                    <div class="form-floating my-0">
                                        <input type="number" id="name" th:field="*{phone}" placeholder="e.g. David" class="form-control" required/>
                                        <label for="name" class="form-label">Phone:</label>
                                    </div>
                                </div>
        
                                <div class="col-md-6">
                                    <select name="subject" id="subject" th:field="*{ptype}" class="form-select" required>
                                        <option value="" selected>Select Type</option>
                                        <option value="home">Home</option>
                                        <option value="mobile">Mobile</option>
                                        <option value="work">Work</option>
                                    </select>
                                </div>
                            </div>
        
                            <div class="form-floating my-3">
                                <input type="number" id="name" th:field="*{family}" placeholder="e.g. David" class="form-control" required/>
                                <label for="name" class="form-label">How many people in your family ?</label>
                            </div>
        
                            <div class="form-floating my-3">
                                <input type="number" id="name" th:field="*{income}" placeholder="e.g. David" class="form-control" required/>
                                <label for="name" class="form-label">Household Monthly Income:</label>
                            </div>
        
                            <div id="btn-register" class="text-center my-5">
                                <button type="submit" class="btn btn-warning">Register!</button>
                            </div>
        
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    	<footer class="bg-dark text-white pt-3 pb-6">
        <div class="container text-center text-md-start">
            <div class="row text-center text-md-start mb-4 mt-4">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Share Fest</h5>
                    <p>ShareFest was founded in 2007 by Gary Cheney, a New Lenox resident. He realized the depth of the need in his community
                    and the surrounding areas and knew that he had to do something, so he started ShareFest.</p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Services</h5>
                <p>
                    <a href="pantry_store_registration" class="text-white" style="text-decoration: none;"> Pantry Store Register </a>
                </p>
                <p>
                    <a href="../members/member_registration" class="text-white" style="text-decoration: none;"> Member Register </a>
                </p>
                <p>
                    <a href="pantry_store_login" class="text-white" style="text-decoration: none;"> Pantry Store Login </a>
                </p>
                <p>
                    <a href="../members/member_login" class="text-white" style="text-decoration: none;"> Member Login </a>
                </p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Useful Links</h5>
                    <p>
                        <a href="https://www.sharefestwillcounty.org/flyers" class="text-white" style="text-decoration: none;"> Event Flyers </a>
                    </p>
                    <p>
                        <a href="#" class="text-white" style="text-decoration: none;"> Calendar </a>
                    </p>
                    <p>
                        <a href="https://www.sharefestwillcounty.org/sharefest-in-the-news" class="text-white" style="text-decoration: none;"> ShareFest News </a>
                    </p>
                    <p>
                        <a href="https://www.sharefestwillcounty.org/past-impacts" class="text-white" style="text-decoration: none;"> Past Impacts </a>
                    </p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contact</h5>
                    <p class="contact-font">
                        <i class="bi bi-envelope-fill me-3" style="font-size: 1.5rem;"></i> gary@sharefestwillcounty.com
                    </p>
                    <p class="contact-font">
                        <i class="bi bi-envelope-fill me-3" style="font-size: 1.5rem;"></i> info@sharefestwillcounty.com
                    </p>
                    <p class="contact-font">
                        <i class="bi bi-telephone-fill me-3" style="font-size: 1.5rem;"></i> 815-342-2199
                    </p>
                </div>

            </div>

            <hr class="mb-4">

            <div class="d-flex align-items-center text-md-start">
                <div class="col-md-7 col-lg-8">
                    <p> Copyright ©2022 All rights reserved by: <a href="#" style="text-decoration: none;">
                        <strong class="text-warning">ShareFest Will County</strong>
                    </a></p>
                </div>

                <div class="col-md-5 col-lg-4">
                    <div class="text-center text-md-end">
                        <ul class="list-unstyled list-inline">
                            <li class="list-unstyled list-inline-item">
                                <a href="https://www.facebook.com/ShareFestWillCounty/" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="bi bi-facebook"></i></a>
                            </li>
                            <li class="list-unstyled list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="bi bi-twitter"></i></a>
                            </li>
                            <li class="list-unstyled list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="bi bi-google"></i></a>
                            </li>
                            <li class="list-unstyled list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="bi bi-linkedin"></i></a>
                            </li>
                            <li class="list-unstyled list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="bi bi-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>