<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
    <meta charset="utf-8">
    <title>Assessment Test CSS LEVEL ONE</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Redressed&display=swap" rel="stylesheet">
  </head>
  <body>
  
 	<!-- create navigation bar (header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Registration and 
					Login Module</a>
			</div>
		</div>
	</nav>
	<br>
	<br>
	
	
    <div class="content">
      <h1>Pantry Store Registration</h1>

      <div class="form" style="display: flex;">
		<div th:if="${param.success}">
				<div class="alert alert-info"> You've successfully registered
						to our awesome app!
			</div>
		</div>
				
        <form class="registerForm" action="#" th:action="@{/stores/PantryStore_Registration}"
						 th:object="${store}" method="POST">
          <h2>Register</h2>
          <!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}"/>
			
          <label for="fname" class="control-label">Store Name <span class="required">*</span></label><br>
          <input type="text" id="fname" th:field="*{storeName}"
					class="form-control mb-4 col-4" placeholder="First name" required autofocus="autofocus"><br>

          <label for="mail" class="control-label">Email Address <span class="required">*</span></label><br>
          <input type="email" id="mail" th:field="*{email}"
					class="form-control mb-4 col-4" placeholder="Email" required autofocus="autofocus"><br>

          <label for="mailconf" class="control-label">Confirm Email Address <span class="required">*</span></label><br>
          <input type="email" id="mailconf" value="" required autofocus="autofocus"><br>

          <label for="pass" class="control-label">Password <span class="required">*</span></label><br>
          <input type="password" id="pass" th:field="*{password}"
					class="form-control mb-4 col-4" placeholder="Password" required autofocus="autofocus"><br>

          <label for="passconf" class="control-label">Confirm Password <span class="required">*</span></label><br>
          <input type="password" id="passconf" value="" required autofocus="autofocus"><br><br>

          <button type="submit" class="btn btn-info col-2">Register</button>
          <span>Already registered? <a href="/" th:href="@{/stores/PantryStore_Login}">Login here</a></span>
        </form>
       </div>
      </div>
        
<!-- 	<div class="container"> -->
<!-- 		<div class="row"> -->
				
			
<!--         	<form th:action="@{/members/Community_Form}" method="post" th:object="${member}"> -->
<!-- 					<div class="form-group"> -->
<!-- 						<label class="control-label" for="firstName"> -->
<!-- 							First Name -->
<!-- 						</label> -->
<!-- 						<input id="firstName" class="form-control" th:field="*{firstName}" required autofocus="autofocus"/> -->
<!-- 					</div> -->
<!-- 					<div class="form-group"> -->
<!-- 						<label class="control-label" for="lastName"> -->
<!-- 							Last Name -->
<!-- 						</label> -->
<!-- 						<input id="lastName" class="form-control" th:field="*{lastName}" required autofocus="autofocus"/> -->
<!-- 					</div> -->
<!-- 					<div class="form-group"> -->
<!-- 						<label class="control-label" for="email"> -->
<!-- 							Email -->
<!-- 						</label> -->
<!-- 						<input id="email" class="form-control" th:field="*{email}" required autofocus="autofocus"/> -->
<!-- 					</div> -->
<!-- 					<div class="form-group"> -->
<!-- 						<label class="control-label" for="password"> -->
<!-- 							Password -->
<!-- 						</label> -->
<!-- 						<input id="password" class="form-control" type="password" th:field="*{password}" required autofocus="autofocus"/> -->
<!-- 					</div> -->
<!-- 					<div class="form-group"> -->
<!-- 						<button type="submit" class="btn btn-success">Register</button> -->
<!-- 						<span>Already registered? <a href="/" th:href="@{/members/login}">Login here</a></span> -->
<!-- 					</div> -->
<!-- 				</form> -->
<!--       </div> -->
<!--     </div> -->

    <footer class="footer">
      <p>About</p>
      <p>Contact Us</p>
      <p>Volunteer</p>
      <p>Donate</p>
      <p>Privacy Policy</p>
      <!-- <p>Terms & Conditions</p> -->
    </footer>

  </body>
</html>
