<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
	<link rel="stylesheet" th:href="@{/css/account.css}">
	<title>Save Food</title>
	
</head>

<body>

 	<div class="container text-white">
        <div class="row my-0 mt-5">
            <div class="col-md-4">
                <h1 class="name">Share Fest</h1>
            </div>
            <div class="col-md-2">
                <img id="top" src="/images/foodpantry1.png" alt="">
            </div>
            <div class="col-md-2">
                <img id="top" src="/images/foodpantry2.png" alt="">
            </div>
            <div class="col-md-2">
                <img id="top" src="/images/foodpantry3.png" alt="">
            </div>
        </div>
    </div>

	<header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark rounded-pill">
                <div class="container-fluid">
                    <a class="navbar-brand" href="home">Home</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    ShareFest Store
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="stores/pantry_store_registration">Register To ShareFest Store</a></li>
                                    <li><a class="dropdown-item" href="stores/pantry_store_login">Login To ShareFest Store</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Member
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="members/member_registration">Register To Member</a></li>
                                    <li><a class="dropdown-item" href="members/member_login">Login as a Member</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Calendar</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Contact Us
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="https://www.sharefestwillcounty.org/sharefest-in-the-news">Sharefest News</a></li>
                                    <li><a class="dropdown-item" href="#">Contact</a></li>
                                    <li><a class="dropdown-item" href="https://www.sharefestwillcounty.org/past-impacts">Past Impacts</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Donate/Sponsor
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="https://www.sharefestwillcounty.org/partners">Partners</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>


	<main>
		<div class="container">
			<h3>Food Directory</h3>
			<hr>
			
			<p class="h4 mb-4">Save Food</p>
			
			<form action="#" th:action="@{/save}"
							 th:object="${food}" method="POST">
							 
				<!-- Add hidden form field to handle update -->
				<input type="hidden" th:field="*{id}"/>
				
				<input type="text" th:field="*{foodType}"
				        class="form-control mb-4 col-4" placeholder="Type">
				
				<input type="text" th:field="*{foodName}"
						class="form-control mb-4 col-4" placeholder="Name">
						
				<input type="text" th:field="*{unit}"
						class="form-control mb-4 col-4" placeholder="Unit">
						
				<input type="number" th:field="*{value}"
						class="form-control mb-4 col-4" placeholder="Value">		
						
				<input type="number" th:field="*{weight}"
						class="form-control mb-4 col-4" placeholder="Weight">
						
			    <input type="number" th:field="*{quantity}"
						class="form-control mb-4 col-4" placeholder="Quantity">
						
				<input type="text" th:field="*{status}"
						class="form-control mb-4 col-4" placeholder="Status">
				
				<button type="submit" class="btn btn-info col-2">Save</button>
				
			</form>
			
	<!-- 		  <div class="form" style="display: flex;"> -->
				
	<!--         <form class="registerForm" action="#" th:action="@{/welcome}" -->
	<!-- 						 th:object="${food}" method="POST"> -->
	<!--           <h2>Register</h2> -->
				
	<!--           <label for="fname" class="control-label">Food Name <span class="required">*</span></label><br> -->
	<!--           <input type="text" id="fname" th:field="*{foodName}" -->
	<!-- 					class="form-control mb-4 col-4" placeholder="Food name" required autofocus="autofocus"><br> -->
	
	<!--           <label for="lname" class="control-label">Description <span class="required">*</span></label><br> -->
	<!--           <input type="text" id="lname" th:field="*{description}" -->
	<!-- 					class="form-control mb-4 col-4" placeholder="Description" required autofocus="autofocus"><br> -->
	
	<!--           <label for="mail" class="control-label">Quantity <span class="required">*</span></label><br> -->
	<!--           <input type="number" id="mail" th:field="*{quantity}" -->
	<!-- 					class="form-control mb-4 col-4" placeholder="Email" required autofocus="autofocus"><br> -->
	
	
	<!--           <button type="submit" class="btn btn-info col-2">ADD</button> -->
	          
	<!--         </form> -->
	<!--        </div> -->
		
			<hr>
			<a th:href="@{/pantry_store_account}">Back to Pantry Store</a>
			
		</div>
	</main>

    <footer class="bg-dark text-white pt-3 pb-6">
        <div class="container text-center text-md-start">
            <div class="row text-center text-md-start mb-4 mt-4">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Share Fest</h5>
                    <p>ShareFest was founded in 2007 by Gary Cheney, a New Lenox resident. He realized the depth of the need in his community
                    and the surrounding areas and knew that he had to do something, so he started ShareFest.</p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Services</h5>
                <p>
                    <a href="stores/pantry_store_registration" class="text-white" style="text-decoration: none;"> Pantry Store Register </a>
                </p>
                <p>
                    <a href="members/member_registration" class="text-white" style="text-decoration: none;"> Member Register </a>
                </p>
                <p>
                    <a href="stores/pantry_store_login" class="text-white" style="text-decoration: none;"> Pantry Store Login </a>
                </p>
                <p>
                    <a href="members/member_login" class="text-white" style="text-decoration: none;"> Member Login </a>
                </p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Useful Links</h5>
                    <p>
                        <a href="https://www.sharefestwillcounty.org/flyers" class="text-white" style="text-decoration: none;"> Event Flyers </a>
                    </p>
                    <p>
                        <a href="#" class="text-white" style="text-decoration: none;"> Calendar </a>
                    </p>
                    <p>
                        <a href="https://www.sharefestwillcounty.org/sharefest-in-the-news" class="text-white" style="text-decoration: none;"> ShareFest News </a>
                    </p>
                    <p>
                        <a href="https://www.sharefestwillcounty.org/past-impacts" class="text-white" style="text-decoration: none;"> Past Impacts </a>
                    </p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contact</h5>
                    <p class="contact-font">
                        <i class="bi bi-envelope-fill me-3" style="font-size: 1.5rem;"></i> gary@sharefestwillcounty.com
                    </p>
                    <p class="contact-font">
                        <i class="bi bi-envelope-fill me-3" style="font-size: 1.5rem;"></i> info@sharefestwillcounty.com
                    </p>
                    <p class="contact-font">
                        <i class="bi bi-telephone-fill me-3" style="font-size: 1.5rem;"></i> 815-342-2199
                    </p>
                </div>

            </div>

            <hr class="mb-4">

            <div class="d-flex align-items-center text-md-start">
                <div class="col-md-7 col-lg-8">
                    <p> Copyright ©2022 All rights reserved by: <a href="#" style="text-decoration: none;">
                        <strong class="text-warning">ShareFest Will County</strong>
                    </a></p>
                </div>

                <div class="col-md-5 col-lg-4">
                    <div class="text-center text-md-end">
                        <ul class="list-unstyled list-inline">
                            <li class="list-unstyled list-inline-item">
                                <a href="https://www.facebook.com/ShareFestWillCounty/" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="bi bi-facebook"></i></a>
                            </li>
                            <li class="list-unstyled list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="bi bi-twitter"></i></a>
                            </li>
                            <li class="list-unstyled list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="bi bi-google"></i></a>
                            </li>
                            <li class="list-unstyled list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="bi bi-linkedin"></i></a>
                            </li>
                            <li class="list-unstyled list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="bi bi-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </footer>

</body>

</html>