<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pantry Hub</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Redressed&display=swap" rel="stylesheet">
  </head>
  <STYLE>A {text-decoration: none;} </STYLE>
  <body>
    <div class="content">
      <h1>Welcome to Pantry Hub</h1>
      <img th:src="@{/images/pantry.jpg}" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p></p>
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
      <a href="members/LoginOrRegistration"><h2 id="Btn1">Community</h2></a>
      <a href="stores/LoginOrRegistration"><h2 id="Btn2">Pantry Stores</h2></a>
    </div>  

  <footer class="footer">
    <p>About</p>
    <p>Contact Us</p>
    <p>Volunteer</p>
    <p>Donate</p>
    <p>Privacy Policy</p>
    <p>Terms & Conditions</p>
  </footer>

  </body>
</html>
